.container-fluid {
    margin: 0;
    padding: 0;
}

#index-body{
    background: linear-gradient(100deg, #2E383F, #07617D);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100vh;
}



#index{
    background: linear-gradient(
        rgba(44, 43, 43, 0.75), 
        rgba(44, 43, 43, 0.75)
      ),
      url("../images/christopher-harris-55545-unsplash.jpg");
   
    background-repeat: none;
    background-size: cover;
    border-radius: 0;
    height: 500px;
    margin: 0;
    padding: 0; 
}



#logo{
    position: absolute;
    top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-login-div{
    background: white;
    height: 300px;
    width: 45%; 
    float: left; 
    position: absolute;
}


#dropdown-menus{

padding: 400px;
}
#neighborhood-list{
    position: relative;
  
}

#index-info{
    color: white;
    height: 100px;
    border-radius: 0;
    background:linear-gradient( to bottom right,
    #f9a828, 
    #182848
      );
}

#type-list{
    position: relative;
}

#zipcode-list{
    position: relative;
}

#submit-index-div{
    position: relative;
    margin-top: 30px;
}

#index-label{
  color: white;
}
/* END OF INDEX PAGE */==========================================

#home-body{
    background: #ECECEB;
}

#header-logo {
    width: 8%;
}

#header{
    height: 70px;
    background: linear-gradient(100deg, #2E383F, #07617D);
}

#home-jumbotron {
    border-radius: 0;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #07617D;
}

aside{
    background: #f9a828;
    height: 100%;
}

#listingCard {
    background-color: #07617D;
    height: 250px;
    width: 250px;
    margin: 5px;
}

#results-img{
    background-color: #ECECEB;
    height: 150px;
    margin: 10px;
}

#neighborhood-form{
    border: 2px solid white;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
  width: 60%;
    display: none;
}

#type-form{
    border: 2px solid white;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
  width: 70%;
    display: none;
    margin: 0;
}

#zipcode-form{
    border: 2px solid white;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
  width: 50%;
    display: none;
}

label{
    font-size: 12px;
}

.aside-title{
    color: white;
    text-align: center;
    
}

.form-check{
    margin-left: 20px;
}