.container-fluid {
    margin: 0;
    padding: 0;
}
#index-body{
    background: linear-gradient(100deg, #2E383F, #07617D);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100vh;
}
#index{
    background: linear-gradient(
        rgba(44, 43, 43, 0.75), 
        rgba(44, 43, 43, 0.75)
      ),
      url("../images/christopher-harris-55545-unsplash.jpg");
   
    
    background-size: cover;
    border-radius: 0;
    height: 830px;
    margin: 0;
    padding: 0; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#logo{
    position: absolute;
    top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tag{
    color: white;
    position: absolute;
    text-align: center;
    margin-left:350px;
    margin-top: 25%;
    padding: 0;
}

#index-info{
    margin-top: 20%;
    color: white;
    height: 130px;
    border-radius: 0;
    background:linear-gradient( to bottom right,
    #f9a828, 
    #182848
      );
}
#submit-index{
    color: white;
    background: #07617D;
   
}
#index {
    width: 100%;
}

#submit-index-div{
   
    margin-top: 40px;
}
#index-label{
  color: white;
}

#form {
    display: inline;
   
 
}
#dropdown-menus{
    margin-left: 20px;
    padding: 30px;
}

#propertyType{
    width: 20%; 
   position: absolute;
}

#neighborhood{
    width: 20%; 
    position: relative;
  
}
/* END OF INDEX PAGE */
#home-body{
    background: #ECECEB;
}
#header-logo {
    width: 8%;
}
#header{
    height: 70px;
    background: linear-gradient(100deg, #2E383F, #07617D);
}
#home-jumbotron {
    border-radius: 0;
    height: 200px;
    margin: 0;
    padding: 0;
    background: #07617D;
}

aside{
    background: #f9a828;
    height: 100%;
}

#listingCard {
    background-color: #07617D;
    height: 250px;
    width: 250px;
    margin: 5px;
}
#results-img{
    background-color: #ECECEB;
    height: 150px;
    margin: 10px;
}
#neighborhood-form{
    border: 2px solid white;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
  width: 60%;
    display: none;
}

#type-form{
    border: 2px solid white;
  height: 200px;
  overflow-x: hidden;
  overflow-y: auto;
  /* Remember that a scrolling container element must have a position set. */
  position: relative;
  width: 70%;
    display: none;
    margin: 0;
}




label{
    font-size: 12px;
}


.aside-title{
    color: white;
    text-align: center;
    
}


.form-check{
    margin-top: 5px;
    margin-left: 10px;
}

                 
#map{
    height: 825px;
   width: 100%;
}

#results{
    background-color: antiquewhite;
    height: 415px;
   width: 100%;
  
}

#glyphicon {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 270px;
}

#results-list {
    background-color: #07617D;
    height: 250px;
    color: white;
    padding-left: 25px;
}

#results-list:hover {
    background-color: rgb(8, 46, 58);
    color: #f9a828;
    border: white;
    border-width: 2px;
    border-style: solid;
}

.api-img {
    position: relative;
    float: right;
    margin-top: 20px;
    width: 225px;
    height: 175px;
}

#property-address{
    font-size: 15px;

}
