body{
    background: linear-gradient(100deg, #2E383F, #07617D);
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat, repeat;
    height: 100vh;
}

#index{
    border-radius: 0;
    height: 500px;
    margin: 0;
    padding: 0;

}

#logo{
    position: absolute;
    top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#user-login-div{
    background: white;
    height: 300px;
    width: 45%; 
    float: left; 
    position: absolute;
}


#guest-login-div{
    background: white;
    height: 300px;
    width: 45%; 
    float: right; 
}